# {{ ansible_managed }}
[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
ExecStart=/usr/share/kafka_2.12-2.2.0/bin/kafka-server-start.sh /usr/share/kafka_2.12-2.2.0/config/server1.properties
ExecStop=/usr/share/kafka_2.12-2.2.0/bin/kafka-server-stop.sh
StandardOutput=journal
StandardError=journal
Restart=on-abnormal

[Install]
WantedBy=multi-user.target